@font-face {
  font-family: 'Raleway';
  src: url('fonts/RalewayFont/Raleway-Black.woff') format('woff');
}
@font-face{
font-family: 'Dela Gothic One';
src: url('fonts/DelaGothicOne/DelaGothicOne-Regular.woff') format('woff');
}






*{
  margin:0px;
  height: 0px;
  
  
}

.header-top{
  width: 100vw;
  height: 6vw;
  display: flex;
  justify-content: space-between;
}
.red{
  margin-left: 6vw;
  margin-top: 2.1vw;
  font-size: 0.88vw;
  font-family: Raleway;
  position: absolute;
  color: red;
}
.txt{
  font-family: Raleway;
  font-size: 0.88vw;
  margin-top: 2.1vw;
  margin-left: 10.5vw;
  position: absolute;
}
.txt1{
  font-family: Raleway;
  font-size: 0.88vw;
  margin-left: 15vw;
  margin-top: 2.1vw;
  position: absolute;
}
.txt2{
  font-family: Raleway;
  font-size: 0.88vw;
  margin-left: 17.7vw;
  margin-top: 2.1vw;
}
.logoimg{
  width: 12vw;
  height: auto;
  margin-top: 1vw;
}
.ua{
  font-size: 0.88vw;
  font-family: Raleway;
  margin-right: 20vw;
  width: 2.6vw;
  height: auto;
  margin-top: 2.1vw;
  border: none;
}
.dollar{font-size: 0.88vw;
  font-family: Raleway;
  width: 1.9vw;
  height: auto;
  margin-top: 2.1vw;
  margin-left: -20vw;
  position: absolute;
  border: none;
}
.numberphone{
  font-family: Raleway;
  font-size: 0.88vw;
  margin-left: 5vw;
  margin-top: -1.1vw;
  position: absolute;
}
.search{
  width: 1.2vw;
  height: auto;
  margin-left: -9vw;
  margin-top: 1.6vw;
  position: absolute;
}
.vector{
  width: 1.2vw;
  height: auto;
  margin-left: -7vw;
  position: absolute;
  margin-top: 1.3vw;

}
.main{font-family: Raleway;
  font-size: 0.88vw;
  margin-left: 6vw;
  font-weight: 600;
  margin-top: 0.5vw;
 }
 .border123{
  border-top: 0.15vw black solid;
  position: absolute;
  width: 2vw;
  margin-left: 9.6vw;
  margin-top: 0.5vw;
 }
 .main1{font-family: Raleway;
  font-size: 0.88vw;
  margin-left: 11.5vw;
  font-weight: 600;
 }
 .border1{
  border-top: 0.15vw black solid;
  position: absolute;
  width: 2vw;
  margin-left: 14.9vw;
  margin-top: 0.5vw;
 }
 .main2{font-family: Raleway;
  font-weight: 300;
  font-size: 0.88vw;
  margin-left: 16.8vw;
 }
 .block1{
  width: 5vw;
  height: 10vw;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
 }

 .change{
  width: 100px;
  height: 2vw;
  margin-top: 41px;
  border:none;
 }
 .change1{
  width: 100px;
  height: 2vw;
  margin-top: 41px;
  border:none;
 }
 .quad{
  width: 1vw;
  height: auto;
  margin-left: 20.3vw;
  margin-top: -8.5vw;
  position: absolute;
 }
 .quad4{
  width: 0.7vw;
  height: auto;
  margin-left: 21.4vw;
  margin-top: -8.3vw;
  position: absolute;
 }
 .sorting{font-family: Raleway;
  font-size: 0.78vw;
  margin-left: 22.5vw;
  margin-top: -8.4vw;
  position: absolute;
 }
 .sorting-new{font-family: Raleway;
  width: 4.3vw;
  height: auto;
  border: none;
  font-size: 0.68vw;
  margin-left: 28vw;
  margin-top: -8.35vw;
  position: absolute;
 }
 .vis{
  width: 45vw;
  font-family:  Dela Gothic One;
  font-size: 3vw;
  font-weight: 400;
  margin-left:  53vw;
  margin-top: -10.5vw;
  position: absolute;
 }

















.product{
  font-family: Raleway;
  
  width: 80vw;
  height: 105vw;
  display: grid;
  grid-template-columns:  4fr 3.7fr;
  font-size: 1vw;
  position: absolute;
  margin-left:20.5vw;
  margin-top: -4vw;
}
.image1{
  width: 32vw;
  height: auto;
}
.cash1{
  padding-top: 1.2vw;
  font-weight: 700;
}
.more{
  font-family: Raleway;
  text-decoration: underline 0.1vw;
  font-size: 1vw;
  font-weight: 600;
  position: absolute;
margin-left: 54vw;
margin-top: 103vw;
}
.svg{
  width: 1vw;
  height: auto;
  margin-left: 62.8vw;
margin-top: 103.1vw;
}
.number1{
  font-family: Raleway;
  font-size: 0.88vw;
  color: #B0B0B0;
font-weight: 700;
  position: absolute;
  margin-left: 86.7vw;
  margin-top: -18.9px;
  }
  .number{
    font-family: Raleway;
    margin-left: 87.6vw;
  margin-top: -18.9px;
  font-size: 0.88vw;
font-weight: 700;
  }
.number2{ 
  font-family: Raleway;
  margin-left: 91vw;
  margin-top: -0.1vw;
  font-size: 0.88vw;
font-weight: 700;
}
.down{
  width: 100vw;
  height: 23vw;
  background-color: #F4F4F4;
  margin-top: 6vw;
}
.inftxt{
  font-family: Raleway;
  margin-top: 9vw;
  margin-left: 5vw;
  width: 20vw;
  height: 10vw;
  display: grid;
  grid-template-columns:  1fr 3fr;
  font-size: 0.88vw;
  font-weight: 300;
  position: absolute;
}
.inftxt1{
  font-family: Raleway;
  margin-top: 18.7vw;
  margin-left: 5vw;
  width: 14.7vw ;
  height: 1vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.88vw;
  font-weight: 700;
  color: red;
  position: absolute;
}
.imgdown{
  font-family: Raleway;
  width: 15vw;
  height: auto;
  margin-top: 3vw;
  margin-left: 45vw;
}
.contact{
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16vw;
  height: 6.5vw;
  margin-top: 2vw;
  margin-left: 45vw;
  font-size: 0.88vw;
  font-weight: 300;
}
.txtcon{
  text-decoration: underline 0.001vw;
}
.time{
  font-family: Raleway;
  width: 30vw;
  height: 1vw;
  margin-top: 2vw;
  margin-left: 45vw;
  font-size: 0.88vw;
  font-weight: 300;display: grid;
  grid-template-columns: 1fr 2fr;
}
.social{
  font-family: Raleway;
  width: 8vw;
  height: 1vw;
  margin-top: -10.5vw;
  margin-left: 80vw;
  font-size: 0.88vw;
  position: absolute;
  text-decoration: underline 0.001vw;
}
.socialsvg{
  margin-left: 80vw;
  margin-top: -7.5vw;
}
.social1{
  width:  1.5vw;
  height:  1.5vw;
}
.social2{
  margin-left: 1vw;
  width:  1.5vw;
  height:  1.5vw;
}
.social3{
  margin-left: 1vw;
  width:  1.5vw;
  height:  1.5vw;
}
.social4{
  margin-left: 1vw;
  width:  1.5vw;
  height:  1.5vw;
}
.social5{
  margin-left: 1vw;
  width: 1.5vw;
  height: 1.5vw;
}
.compain{
  font-family: Raleway;
  font-size: 0.88vw;
font-weight: 300;
margin-top: 7.5vw;
margin-left: 85vw;
}


.left{
  font-size: 0.50vw;
  width: 5vw;
  height: 5vw;
  margin-top: 2vw;
}














/*.container {
  display: block;
  position: relative;
  margin-top: 1.5vw;
  padding-left: 1.3vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 0.88vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* скрываем дефолтный флажок */
/*.container .check-highload {
  position: absolute;
  opacity: 0;
}
/* Создаем кастомный checkbox */
/*.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1vw;
  width: 1vw;
  background-color: #ffffff;
}
/* При наведении указателя мыши перекрашиваем */
/*.container:hover .check-highload ~ .highload2 {
  background-color: #747373;
}
/* Когда отмечен, то красим в зеленый цвет */
/*.container .check-highload:checked ~ .highload2 {
  background-color: rgb(255, 255, 255);
}
/* Создаем когда отмечено (не видно, когда не отмечено) */
/*.highload2:after {
  content: "";
  position: absolute;
  display: none;
}
/* Показываем когда отмечен */
/*.container .check-highload:checked ~ .highload2:after {
  display: block;
}
/* Стили индикатора */
/*.container .highload2:after {
  left: 4px;
  top: 2px;
  width: 2px;
  height: 4px;
  border: solid rgb(0, 0, 0);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.ttt{
  margin-top: 12vw;
}*/
































@media screen and (max-width: 425px) {
.header-top{
  display: none;
}
  

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  margin-top: 10vw;
  display: grid;
  position: absolute;
  visibility: hidden;
  top: 0;
  width: 80vw;
  height: 15vw;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  text-align: left;
  background-color: #FFF;
  
}
/* элементы меню */
.menu__item {
  margin-top: -5vw;
  margin-left: 2vw;
  display: flex;
  color: #000000;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item1 {
  margin-top: -12vw;
  margin-left: 2vw;
  display: flex;
  color: #DA1F39;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item3 {
  margin-top: -7vw;
  margin-left: 2vw;
  display: flex;
  color: #000000;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item4 {
  margin-top: -2vw;
  margin-left: 2vw;
  display: flex;
  color: #000000;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item5 {
  margin-top: 3vw;
  margin-left: 2vw;
  display: flex;
  color: #000000;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item:hover {
  background-color: #ffffff;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.logoadaptivphoto{
  width: 40vw;
  height: 10vw;
}
.palka{
  margin-top: 2vw;
  width: 15vw;
  height: 7vw;

}

.menu__item2 {
  margin-left: 32vw;
  margin-top: -36vw;
  display: flex;
  color: #000000;
  font-family: Dela Gothic One;
  font-size: 6vw;
  font-weight: 600;
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item6 {
  margin-left: 5vw;
  margin-top: 26vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item7 {
  margin-left: 20vw;
  margin-top: 25vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item8 {
  margin-left: 33vw;
  margin-top: 24vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item9 {
  margin-left: 32vw;
  margin-top: -43vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item10 {
  margin-left: 53vw;
  margin-top: 21vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
 
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item11 {
  margin-left: 60vw;
  margin-top: 20vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  
  text-decoration: none;
  padding: 2vw 0;
}
.menu__item12 {
  margin-left: 67vw;
  margin-top: 19vw;
  display: flex;
  color: #000000;
  font-family: Raleway;
  font-size: 6vw;
  text-decoration: none;
  padding: 2vw 0;
}
.vertical-line {
  margin-left:14vw ;
  width: 0.5vw; /* Ширина палки */
  height: 4.4vw; /* Высота палки */
  background-color: #000; /* Цвет палки */
}
.main{
  display: none;
}
.main1{
  display: none;
}
.main2{
  display: none;
}
.border123{
  display: none;
}
.border1{
  display: none;
}
.block1{
  display: none;
}
.filter{
  display: none;
}
.adaptlogo{
  margin-top: 0vw;
  margin-left: 38vw;
  width: 25vw;
  height: 8vw;
}
.product{
  width: 90vw;
  height: 150vw;
  display: grid;
  grid-template-columns:  4fr 3.7fr;
  margin-top: 3vw;
  margin-left: 5vw;
  position: absolute;
  font-size: 2vw;
}
.image1{
  width: 43vw;
  height: 40vw;
}

.cash1{
  margin-top: 4vw;
  font-size: 3vw;
}
.search1{
width: 5vw;
height: 5vw;
margin-top: 1.3vw;
margin-left: 43vw;
position: absolute;
}
.vector1{
  width: 5vw;
  height: 5vw;
  margin-top: 1.2vw;
  margin-left: 46vw;
  position: absolute;
}
.main3{
  width: 60vw;
  height: 10vw;
  margin-top: 13vw;
  margin-left: 40vw;
  font-size: 4vw;
 font-family: Dela Gothic One;
}
.left1{
  width: 20vw;
  height: 10vw;
}
.sorting1{
  width: 30vw;
  height: 5vw;
  margin-left: 49vw;
  font-family: Raleway;
  font-weight: 100;
}
.sorting-new1{
  width: 21vw;
  height: 4vw;
  margin-left:75vw;
  margin-top: -4.9vw;
  position: absolute;
  border: none;
  font-family: Raleway;
  font-size: 3.7vw;
}
.more{
  margin-top: 160vw;
  margin-left: 35vw;
  font-size: 4vw;
}
.svg{
  width: 3vw;
  height: 3vw;
  margin-top: 161vw;
  margin-left: 70vw;
}
.down{
  margin-top: 7vw;
  height: 100vw;
}
.number{
  display: none;
}
.number1{
  display: none;
}
.number2{
  display: none;
}
.inftxt{
  width: 60vw;
  height: 40vw;
  font-size: 4vw;
  margin-left: 2vw;
  margin-top: 20vw;
  display: grid;
  grid-template-columns:  1fr 2fr;
}
.inftxt1{
  width: 60vw;
  height: 40vw;
  font-size: 4vw;
  margin-left: 2vw;
  margin-top: 59vw;
  display: grid;
  grid-template-columns:  1fr 2fr;
}
.imgdown{
  width: 40vw;
  height: 10vw;
  margin-left: 30vw;
}
.social{
  width: 30vw;
  height: 10vw;
  font-size: 3vw;
  margin-left: 70vw;
  margin-top: -61vw;
  
}
.socialsvg{
  width: 20vw;
  height: 3vw;
  margin-top: -55vw;
  margin-left: 70vw;
}
.social1{
  width: 5vw;
  height: 5vw;
}
.social2{
  width: 5vw;
  height: 5vw;
}
.social3{
  width: 5vw;
  height: 5vw;
}
.social4{
  width: 5vw;
  height: 5vw;
}
.social5{
  width: 5vw;
  height: 5vw;
}
.compain{
  margin-left: 2vw;
  width: 39vw;
  height: 3vw;
  font-size: 3vw;
  margin-top: 50vw;
}
.contact{
  width: 80vw;
  height: 10vw;
  margin-top: 55vw;
  margin-left: 3vw;
  font-size: 3vw;
}
.time{
  width: 80vw;
  height: 10vw;
  margin-top: 5vw;
  margin-left: 3vw;
  font-size: 3vw;
}
}



@media screen and (max-width:2440px ) and (min-width:426px) {
  .main3{
    display: none;
  }
  .sorting1{
    display: none;
  }
  .sorting-new1{
    display: none;
  }
  .menu__item1{
    display: none;
  }
  .menu__item2{
    display: none;
  }
  .menu__item3{
    display: none;
  }
  .menu__item4{
    display: none;
  }
  .menu__item5{
    display: none;
  }
.menu__item6{
  display: none;
}
.menu__item7{
  display: none;
}
.menu__item8{
  display: none;
}
.menu__item9{
  display: none;
}
.menu__item10{
  display: none;
}
.menu__item11{
  display: none;
}
.menu__item12{
  display: none;
}
marker{
  display: none;
}

}


